.detail-pane {
    position: absolute;
    top: 5%;
    right: 20px;

    min-width: 270px;
    max-height: 90%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 1);
    color: #242424;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 600;
    z-index: 1000;
}

.stopovers-container {
    flex-grow: 1;
    overflow-y: scroll;
    padding-right: -17px;
    box-sizing: content-box;
    font-weight: 400;

    margin-top: 20px;
}

.stopover {
    font-size: 16px;
    border-left: solid;
    border-width: 4px;
    border-color: #009154;
    padding-left: 10px;
}

.detail-pane-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    font-weight: 600;

}

.detail-pane-title {
    display: flex;
}

.line-logo {
    height: 24px;
    align-self: center;
    margin-right: 10px;
}

.detail-pane-close-button {
    border: none;
    background: transparent;
    color: #242424;
    font-size: 20px;
    cursor: pointer;
    vertical-align: text-top;
    padding: 0;
}

.direction {
    font-size: large;
    font-weight: 600;
}

.detail-pane-close-button:hover {
    color: #000;
}

@media (max-width: 640px) {
    .detail-pane {
        bottom: 0;
        width: -moz-available;
        padding-bottom: 20px;
        top: auto;
        right: auto;
    }

    .stopovers-container {
        display: none;
    }

}